<div class="story-body">
  <p>Texas is the second worst nation to grow old in, and has the worst ranking in the country when it comes to staffing, according to Centers for Medicare and Medicaid Services data. Poor staffing is a trend across the state, and residents are at risk of neglect and harm, no matter the facility’s record or location.</p>
  <p>State inspectors from the Texas Health and Human Services Commission conduct surveys at each of the state's nursing homes receving money from the federal government. They also conduct investigations when complaints are filed. They send their findings of their surveys to Medicare and can issue fines against facilities providing substandard care. But even though violations of Medicare guidelines are increasing, fines have gone down under the Trump administration.</p>
  <!-- If you use images, the path is just images/___ -->
  {{!-- <p style="text-align: center"><img src="images/cat.jpg"></p> --}}
  <p>Texas has the largest number of nursing homes, yet the average recommended federal fine per nursing home fares close to the middle compared to other states –– even with the worst staffing rating in the country. Some inspection reports where surveyors investigated deaths due to negligence of the facility, marked with red dots below, are not even as massively fined as other deficiencies.</p>
  <p style="text-align: center"><img src="images/scatterplot-01.jpg" class='scatter'></p>
</div>