<div class="story-body">
  <p>The largest number facilities with more than 25 deficiencies are clustered in the biggest cities in Texas. But San Antonio stands out more than the rest –– five of the 20 facilities that are most out-of-compliances are located in San Antonio, which leads in Texas with 2,119 cited deficiencies since 2016.</p>
  <!-- If you use images, the path is just images/___ -->
  <p>But a number of facilities with a lot of deficiencies are found in the Texas-Mexico border. Some of the top 20 facilities are found in McAllen, Brownsville, Laredo and Harlingen, cities that are far away from specialized health care facilities and hospitals located in more urbanized areas.</p>
</div>