<div class="story-body">
  <p>NPR did a story on the Trump administration’s decision to alter the way it punishes nursing homes. Starting in the second quarter of 2017, officials were more often assessing one-time “per instance” fines, while the Obama administration relied more heavily on fines that were calculated based on the number of days the home was out of compliance. Those “per day” fines tend to be bigger because they compound, NPR reported.</p>
  <!-- If you use images, the path is just images/___ -->
  <p>Critics said that giving nursing homes less incentive to fix faulty and dangerous practices before someone gets hurt. When I did an analysis to calculate the total of fines issued against nursing homes per quarter, we can identify how numbers started to decrease again after Trump's rollback of Obama era policies and regulations of the nursing home industry.</p>
</div>