<div class="story-body">
<div class="footer">
  <p class="note"><b>Data and Methodology</b></p>
  <p class="note">I downloaded datasets from Centers for Medicare and Medicaid Services website that included all penalties and deficiencies filed against each nursing home facility in the country. Using pandas, I cleaned and analyzed the fining system per quarter, per year, and identified inspection reports that included deaths due to substandard care at some facilities, which allowed me to analyze how fines are being issued against these deaths versus other types of federal violations.</p>
  <p class='note'>Using the dataset containing each and every deficiency in Texas, I grouped by city and used QGIS and Adobe Illustrator to create a map of deficiencies.</p>
</div>
<div class="button" id="click"><a href="https://github.com/elenamlutz/student-homelessness-nyc"> VIEW CODE</a></button></div>
</div>
